<div class="sign-in-wrapper">
  <div class="sign-in">
    <section class="sign-in-box">
      <h2>Sign In</h2>
      <div class="sign-in-form">
        <%= form_tag signin_path do %>
          <%= label_tag :username %>
          <%= text_field_tag :username %>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
          <%= submit_tag "Sign In" %>
        <% end %>
      </div>
    </section>
    <div class="signup-box">
      <p>Don't have an account? <a href"/signup">Register</a></p>
    </div>
  </div>
</div>
