<div class="alert">
  <%= flash[:alert] %>
</div>
<div class="sign-in-wrapper">
  <div class="sign-in">
    <section class="sign-in-box">
      <h2>Sign Up</h2>
      <div class="sign-in-form">
        <%= form_for @user do |f| %>
        <%= f.label "Username" %>
        <%= f.text_field :username %>
        <%= f.label "Password" %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit "Sign Up" %>
        <% end %>
      </div>
    </section>
  </div>
</div>
