<!DOCTYPE html>
<html>
  <head>
    <title>ActionWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Thasadith|Titillium+Web" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="title-box">
        <span>
          <%= image_tag "actionwallet_gold2.png", class: "header-image"%>
          <h1><a href="/">Action Wallet</a></h1>
        </span>
        <% if current_user %>
          <span><span class="hello">Hello <%= current_user.username %></span> <a href="/signout">Logout</a></span>
        <% else %>
          <span><a href="/signin">Login</a></span>
        <% end %>
      </div>
      <nav class="nav-box">
        <% if current_user %>
          <%= link_to 'Accounts', user_path(current_user) %><span class="pipe">|</span>
        <% else %>
          <%= link_to 'Accounts', signin_path %><span class="pipe">|</span>
        <% end %>
        <a class="nav-link" href="/networks">Networks</a><span class="pipe">|</span>
        <%= link_to 'Learn', articles_path %>
      </nav>
    </header>
    <main>
      <div class="big-logo">
      </div>
      <%= yield %>
    </main>
  </body>
</html>
