<% if @account %>
<h2><%= @account.name %></h2>
<% end %>

<h4>Addresses</h4>
<ul>
<% @account.addresses.each do |address| %>
  <li class="addresses">
    <div class="address">
      <p><span class="label">Label</span><%= address.label %></p>
      <p><span class="label">BIP0032 Path</span><%= address.bip32_address(true) %></p>
      <p><span class="label">Public Address</span><%= address.public_address(current_user.master_key, true) %></p>
      <p><span class="label">Address Balance</span><%= address.total %></p>
        <%= raw @qrcodes[@account.addresses.index(address)].as_html %>
      </div>
    </div>
  </li>

<% end %>
</ul>
<%= link_to "Add Address", new_account_address_path(@account)%>
