<% if @account %>
<h2>'<%= @account.name %>' Account</h2>
<% end %>
<%= link_to "Add New Address", new_account_address_path(@account)%>

<h4>Addresses</h4>
<ul class="address-box">
<% @account.addresses.each do |address| %>
  <li class="addresses">
    <div class="address">
      <p><span class="label">Label</span><%= address.label %></p>
      <p><span class="label">BIP0032 Path</span><%= address.bip32_address(true) %></p>
      <p><span class="label">Public Address</span><%= address.public_address(current_user.master_key, true) %></p>
      <iframe class="details" src="https://live.blockcypher.com/widget/btc-testnet/<%= address.public_address(current_user.master_key, true) %>/balance/" frameborder="0"></iframe>
      <div class="qrcode">
        <%= raw @qrcodes[@account.addresses.index(address)].as_html %>
      </div>
    </div>
  </li>

<% end %>
</ul>
